h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
  }
  
  .terms-container {
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
  
    p {
      margin-bottom: 10px;
      text-align: center;
    }
  
    ul {
      padding-left: 20px;
      margin-bottom: 10px;
      text-align: center;
      list-style: none;
    }
  
    h2 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      text-decoration: underline;
    }
  }
  