<h1>Правила и Условия</h1>

<div class="terms-container">
  <p>
    Моля, прочетете внимателно тези правила и условия, преди да използвате
    нашето приложение, управлявано от Spacespeackers.
  </p>

  <p>
    С достъп до или използване на приложението вие се съгласявате да бъдете
    обвързани с тези условия. Ако не сте съгласни с която и да е част от тези
    Условия, нямате право на достъп или използване на приложението.
  </p>

  <h2>1. Отговорности на потребителя</h2>
  <ul>
    <li>
      Трябва да сте навършили 18 години или да имате правоспособност да сключите
      договор във вашата юрисдикция, за да използвате приложението.
    </li>
    <li>
      Вие носите отговорност за предоставянето на точна и актуална информация по
      време на процеса на регистрация.
    </li>
    <li>
      Вие се съгласявате да не използвате приложението за незаконни или
      неоторизирани цели.
    </li>
    <li>
      Не трябва да се намесвате в правилното функциониране на приложението,
      включително да се опитвате да получите неоторизиран достъп до нашите
      сървъри или мрежи.
    </li>
  </ul>

  <h2>2. Права на интелектуална собственост</h2>
  <ul>
    <li>
      Цялото съдържание и материали, налични в приложението, включително, но не
      само текст, графики, лога, изображения, софтуер и аудиовизуално
      съдържание, са собственост на Spacespeackers или неговите лицензодатели и
      са защитени от законите за интелектуална собственост.
    </li>
    <li>
      Нямате право да променяте, възпроизвеждате, разпространявате, създавате
      производни произведения от, публично показвате или изпълнявате което и да
      е от съдържанието и материалите без предварително писмено разрешение от
      Spacespeackers
    </li>
  </ul>

  <h2>3. Поверителност</h2>
  <ul>
    <li>
      Ние уважаваме вашата поверителност и се ангажираме да защитаваме личната
      ви информация. Нашата политика за поверителност урежда събирането,
      използването и разкриването на вашата лична информация. Използвайки
      приложението, вие се съгласявате с практиките, описани в нашата Политика
      за поверителност.
    </li>
  </ul>

  <h2>4. Услуги на трети страни</h2>
  <ul>
    <li>
      Приложението може да включва връзки или препратки към уебсайтове или
      услуги на трети страни, които не са собственост или се контролират от
      Spacespeackers
    </li>
    <li>
      Ние нямаме контрол и не поемаме отговорност за съдържанието, политиките за
      поверителност или практиките на уебсайтове или услуги на трети страни.
    </li>
    <li>
      Вие потвърждавате и се съгласявате, че Spacespeackers няма да носи
      отговорност, пряко или непряко, за щети или загуби, причинени или
      предполагаеми, че са причинени от или във връзка с използването на
      уебсайтове или услуги на трети страни.
    </li>
    >
  </ul>

  <h2>5. Ограничение на отговорността</h2>
  <ul>
    <li>
      В максималната степен, разрешена от приложимото законодателство, при
      никакви обстоятелства Spacespeackers, нейните служители,
      директори, служители или агенти не носят отговорност за каквито и да е
      непреки, случайни, специални, последващи или наказателни щети,
      включително, но не ограничено до обезщетения за пропуснати ползи,
      репутация, данни или други нематериални загуби, произтичащи от или във
      връзка с използването на Приложението от ваша страна.
    </li>
  </ul>

  <h2>6. Промени в Условията</h2>
  <ul>
    <li>
      Ние си запазваме правото да променяме или заменяме тези условия по всяко
      време без предизвестие. Актуализираните условия ще бъдат публикувани в
      приложението или на нашия уебсайт.
    </li>
    <li>
      Продължавайки да осъществявате достъп или да използвате приложението, след
      като ревизиите влязат в сила, вие се съгласявате да бъдете обвързани с
      актуализираните Условия.
    </li>
  </ul>

  <h2>7. Приложимо право и юрисдикция</h2>
  <p>
    Тези условия се уреждат и тълкуват в съответствие със законите на Република
    България.
  </p>
  <p>
    Всички спорове, произтичащи от или във връзка с тези Условия, са предмет на
    изключителната юрисдикция на съдилищата на Република България.
  </p>

  <p>
    Използвайки нашето приложение, вие потвърждавате, че сте прочели, разбрали и
    сте съгласни с тези правила и условия. Ако имате въпроси или притеснения,
    моля, свържете се с нас на fastfood@spacepickers.com.
  </p>

  <p>Дата на последна редакция: 10.05.2023 г.</p>
</div>
