<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 connect">
        <h3>Сържете се с нас</h3>
        <div class="social-links">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.patreon.com/home" target="_blank"><i class="fab fa-patreon"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 contact">
        <h3>Контакти за нас</h3>
        <ul class="contact-info">
          <li>
            <i class="fas fa-map-marker-alt"></i>бул. Пещерско Шосе, Пловдив България
          </li>
          <li><i class="fas fa-phone"></i> (359) 888-123-5463</li>
          <li><i class="fas fa-envelope"></i> fastfood@spacespeackers.com</li>
        </ul>
      </div>
      <div class="col-lg-4 d-none d-lg-block subscribe">
        <h3>Абонирайте се за нашият Бюлетин</h3>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Въведете вашият имейл"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="subscribe()">Абонирай се</button>
        </form>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2023 SpacesPeackers. Всички права запазени.</p>
  </div>
</footer>
