<app-not-found [visible]="!food" notFoundMessage="Продукт не открит" resetLinkText="Върнете се към началната страница"></app-not-found>

<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="25px"
        [readonly]="true">
      </star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="description">
      <span>
        <strong>Описание: </strong>{{food.description}}
      </span>
    </div>

    <div class="cooking-time">
      <span>
        Време за приготвяне около <strong>{{food.cookingTime}}</strong> минути
      </span>
    </div>

    <div class="price">
      <span [ngClass]="{'crossed-out': food.isOnSale}">€{{food.price}}</span>
      <span *ngIf="food.isOnSale">€{{food.salePrice}}</span>
    </div>    

    <button (click)="addToCart()">Добави към Количката</button>
  </div>
</div>
